{% extends 'base.html.twig' %}

{% block title %}WebJox-Blog{% endblock %}

{% block body %}
    <h2>Тестовый Блог</h2>

    {% for post in posts %}
        <h4>{{ post.content }}</h4>
    {% endfor %}
{% endblock %}